::-webkit-scrollbar {  width: 0px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); }
::-webkit-scrollbar-thumb { background-image: linear-gradient(to top, #898989 0%, #898989 1%, #ABABAB 100%);-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); }
::-webkit-scrollbar-thumb:window-inactive { background-image: linear-gradient(to top, #666666 0%, #898989 1%, #ABABAB 100%)};
.is-animated {animation: .6s zoom-in;}
.active {background: #FFF;color: #000 !important;}
@keyframes zoom-in {
	0% {transform: scale(.1);} 
	100% {transform: none;}
}
.list-unstyled{
	list-style: none;
	padding-left: 0;
}
.demo-gallery > ul{
	margin-bottom: 0;
}
.demo-gallery > ul > li{
	margin-bottom: 15px;
}
.demo-gallery > ul > li a{
	border: 3px solid #FFF;
	border-radius: 0;
	display: block;
	overflow: hidden;
	position: relative;
	float: left;
	background: white;
}
.demo-gallery > ul > li a > p{
	margin-bottom:0;
	color:#000;
	padding: 2px;
}
.demo-gallery > ul > li a > img{
	-webkit-transition: -webkit-transform 0.15s ease 0s;
	-moz-transition: -moz-transform 0.15s ease 0s;
	-o-transition: -o-transform 0.15s ease 0s;
	transition: transform 0.15s ease 0s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	height: 200px;
	width: 500px;
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster{
	background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery > ul > li a .demo-gallery-poster{
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: background-color 0.15s ease 0s;
	-o-transition: background-color 0.15s ease 0s;
	transition: background-color 0.15s ease 0s;
}
.demo-gallery .video .demo-gallery-poster img{
	height: 48px;
	margin-left: -24px;
	margin-top: -48px;
	opacity: 0.8;
	width: 48px;
}
.demo-gallery > ul > li a .demo-gallery-poster > img{
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}

/* MAIN CSS */

@-webkit-keyframes fill {
	0% {
		width: 0%;
		height: 1px;
	}
	50% {
		width: 100%;
		height: 1px;
	}
	100% {
		width: 100%;
		height: 100%;
		background: #fff;
	}
}
@keyframes fill {
	0% {
		width: 0%;
		height: 1px;
	}
	50% {
		width: 100%;
		height: 1px;
	}
	100% {
		width: 100%;
		height: 100%;
		background: #fff;
	}
}
@-webkit-keyframes fillColour {
	0% {
		color: #fff;
	}
	50% {
		color: #fff;
	}
	100% {
		color: #333;
	}
}
@keyframes fillColour {
	0% {
		color: #fff;
	}
	50% {
		color: #fff;
	}
	100% {
		color: #333;
	}
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

html { overflow: hidden; }

body {
	overflow: hidden;
	font-size: 100%;
}

a { text-decoration: none !important; }

.detail{
	text-transform: uppercase !important;
	color: #fff !important;
	font-weight: 700;
}

.modal-content{
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

.slides .slide:nth-child(1){ background-image: url(../../../../_assets/img/memorial/memo_bg.jpg);}
.slides {
	width: 500vw;
	height: 100vh;
}
.slides .slide {
	height: 100vh;
	width: 100vw;
	float: left;
	text-align: center;
	background-size: cover;
}
.slides .slide .content {
	overflow-y: scroll;
	position: relative;
	width: 100%;
	height: 84%;
	left: 0;
	top: 0;
	bottom: 10%;
	background: rgba(0, 0, 0, 0.5);
}
.content::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: rgba(0, 0, 0, 0.5);
}
.content::-webkit-scrollbar-thumb {
	background: rgba(250, 250, 250, 0.5);
}

.slides .slide .img-header img {
	padding: 10px;
	width: 20%;
}

.main-btn a:hover {
	background-color: #FF4800;
	color: #FFF!important;
}

/*about content*/
.about-content .container-fluid {
	padding-right: 10%;
	padding-left: 10%;
}

.about-content .container-fluid .col-md-6 {
	padding-right: 10x;
	padding-left: 10x;
}

.about-content .right-image img {
	max-width: 100%;
	min-width: 100%;
	overflow: hidden;
	float: right;
	margin-bottom: 10px;
	border: 10px solid #2A343D;
}

.about-content .left-content {
	padding: 60px;
	text-align: left;
}

.about-content h2 {
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 0px;
}

.about-content h6 {
	text-transform: uppercase;
	color: #FF4800;
	letter-spacing: 0.5px;
}

.about-content p {
	font-size: 13px;
	color: #fff;
	letter-spacing: 0.5px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 30px;
}

.about-content a {
	color: #fff;
	text-decoration: underline;
}

.about-content .main-btn a {
	display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	margin-bottom: 10px;
	margin-top: 10px;
}

/* first content */

.first-content {
	text-align: left;
	padding-top: 15%;
	padding-left: 20%;
	padding-right: 20%;
}

.first-content .author-image img {
	margin-top: 30px;
	border-radius: 30px;
	max-width: 100%;
	overflow: hidden;
	float: left;
	margin-right: 35px;
}

.first-content h2 {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 0px;
}

.first-content h4 {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 300;
	color: #fff;
	letter-spacing: 0.5px;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 15px;
	margin-top: 0px;
}

.first-content p {
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 3px;
	line-height: 26px;
	margin-bottom: 5px;
}

.first-content em {
	font-style: normal;
	font-weight: 600;
}

.first-content .main-btn {
	display: inline-block;
	margin-right: 15px;
}

.first-content .main-btn a {
	display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	transition: all 0.5s;
}

.first-content .fb-btn {
	display: inline-block;
}

.first-content .fb-btn a {
	display: inline-block;
	background-color: #fff;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #232323;
	text-decoration: none;
	transition: all 0.5s;
}

.first-content .fb-btn a:hover {
	color: #fff;
	background-color: transparent;
}

.second-section{
	border: 2px solid #fff;
	padding: 10px;
}

.first-section.first-section-menu{
	background: #fff;
	opacity: 0.5;
}

/* second content */

.content .second-content {
	text-align: left;
	padding: 6%;
}

.second-content .container-fluid {
	padding-right: 7.5px;
	padding-left: 7.5px;
	padding-top: 35px;
	padding-bottom: 35px;
}

.second-content .first-section .left-content {
	margin-right: 15px;
	margin-top: 12px;
}

.second-content .box {
	background: rgba(0, 0, 0, 0.5);
	border: 2px solid #fff;
	padding: 20px;
	text-decoration: none !important;
	cursor: pointer;
}

.second-content .box:hover {
	background: #FF4800;
}

.second-content .second-section {
	margin-top: 30px;
}

.second-content .box .left-content .left-image {
	float: left; 
	margin-right: 10px; 
	margin-bottom: 10px;
	width: 24%;
	border: none;
}

.second-content .box img {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	border: 5px solid #2A343D;
}

.second-content h2 {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 0px;
}

.second-content p {
	font-size: 13px;
	color: #fff;
	letter-spacing: 0.5px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 5px;
}

.second-content .main-btn {
	display: inline-block;
	margin-bottom: 10px;
}

.second-content .main-btn a {
	display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	transition: all 0.5s;
}

.second-content .fb-btn {
	display: inline-block;
	margin-bottom: 10px;
}

.second-content .fb-btn a {
	display: inline-block;
	background-color: #fff;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #232323;
	text-decoration: none;
	transition: all 0.5s;
}

.second-content .fb-btn a:hover {
	color: #fff;
	background-color: transparent;
}

/* third-content */

.content .third-content {
	text-align: left;
	padding: 6%;
}

.third-content .container-fluid {
	padding-right: 7.5px;
	padding-left: 7.5px;
}

.third-content .first-section .left-content {
	margin-right: 15px;
	margin-top: 12px;
}

.third-content .box {
	background: rgba(0, 0, 0, 0.5);
	border: 2px solid #fff;
	padding: 20px;
	text-decoration: none !important;
	cursor: pointer;
}

.third-content .box:hover {
	background: #FF4800;
}

.third-content .first-section .right-image {
	margin-left: 15px;
}

.third-content .second-section {
	margin-top: 30px;
}

.third-content .second-section .right-content {
	margin-left: 15px;
	margin-top: 12px;
}

.third-content .second-section .left-image {
	margin-right: 15px;
}

.third-content .box img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.third-content h2 {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 0px;
}

.third-content p {
	font-size: 13px;
	color: #fff;
	letter-spacing: 0.5px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 20px;
}

.third-content .main-btn {
	display: inline-block;
	margin-bottom: 10px;
}

.third-content .main-btn a {
	display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	transition: all 0.5s;
}

.third-content .fb-btn {
	display: inline-block;
	margin-bottom: 10px;
}

.third-content .fb-btn a {
	display: inline-block;
	background-color: #fff;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #232323;
	text-decoration: none;
	transition: all 0.5s;
}

.third-content .fb-btn a:hover {
	color: #fff;
	background-color: transparent;
}

/* fourth-content */
.content .fourth-content {
	text-align: left;
	padding-right: 6%;
	padding-left: 6%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.fourth-content .first-section .left-content {
	margin-right: 15px;
	margin-top: 12px;
}

.fourth-content .box {
	background: rgba(0, 0, 0, 0.5);
	border: 2px solid #fff;
	padding: 20px;
	text-decoration: none !important;
	cursor: pointer;
}

.fourth-content .box:hover {
	background: #FF4800;
}

a {
	text-decoration: none !important;
}

.fourth-content .first-section .right-image {
	margin-left: 15px;
}

.fourth-content .second-section {
	margin-top: 30px;
}

.fourth-content .second-section .right-content {
	margin-left: 15px;
	margin-top: 12px;
}

.fourth-content .second-section .left-image {
	margin-right: 15px;
}

.fourth-content h2 {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 0px;
}

.fourth-content p {
	font-size: 13px;
	color: #fff;
	letter-spacing: 0.5px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 5px;
}

.fourth-content .main-btn {
	display: inline-block;
	margin-bottom: 10px;
}

.fourth-content .main-btn a {
	display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	transition: all 0.5s;
}

.fourth-content .fb-btn {
	display: inline-block;
	margin-bottom: 10px;
}

.fourth-content .fb-btn a {
	display: inline-block;
	background-color: #fff;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #232323;
	text-decoration: none;
	transition: all 0.5s;
}

.fourth-content .fb-btn a:hover {
	color: #fff;
	background-color: transparent;
}

/*fifth-content*/

.content .fifth-content {
	text-align: left;
	padding: 2%;
}

.fifth-content .container-fluid {
	padding-right: 70px;
	padding-left: 70px;
}

.fifth-content .first-section .left-content {
	margin-right: 15px;
	margin-top: 12px;
}

.fifth-content .box {
	background: rgba(0, 0, 0, 0.7);
	border: 2px solid #fff;
	padding: 20px;
	text-decoration: none !important;
	cursor: pointer;
}

.fifth-content .box:hover {
	background: #FF4800;
}

.fifth-content .first-section .right-image {
	margin-left: 15px;
}

.fifth-content .fifth-section {
	margin-top: 30px;
}

.fifth-content .fifth-section .right-content {
	margin-left: 15px;
	margin-top: 12px;
}

.fifth-content .fifth-section .left-image {
	margin-right: 15px;
}

.fifth-content .box img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.fifth-content .box h2 {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 0px;
}
.fifth-content h2 {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 0px;
}

.fifth-content p {
	font-size: 13px;
	color: #fff;
	letter-spacing: 0.5px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 5px;
}

.fifth-content .main-btn {
	display: inline-block;
	margin-bottom: 10px;
}

.fifth-content .main-btn a {
	display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	transition: all 0.5s;
}

.fifth-content .fb-btn {
	display: inline-block;
	margin-bottom: 10px;
}

.fifth-content .fb-btn a {
	display: inline-block;
	background-color: #fff;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #232323;
	text-decoration: none;
	transition: all 0.5s;
}

.fifth-content .fb-btn a:hover {
	color: #fff;
	background-color: transparent;
}

/* footer content */

.footer .content {
	width: 100%;
	max-width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
}

.footer .content p {
	text-align: center;
	font-size: 13px;
	color: #fff;
	margin-bottom: 28px;
}

.footer .content p a {
	color: #aaa;
	text-decoration: none;
}



/* REPONSIVE */

@media (max-width: 991px) {

	.first-content {
		text-align: center;
		padding: 50px;
	}

	.first-content .author-image img {
		/*max-width: 195px;*/
		float: none;
		margin-right: 0px;
		margin-bottom: 30px;
	}

	.third-content .first-section {
		border-bottom: 1px solid rgba(250,250,250,0.3);
		padding-bottom: 45px;
		margin-bottom: 45px;
	}

	.third-content .first-section .left-content {
		margin-right: 0px;
		margin-bottom: 30px;
	}

	.third-content .first-section .right-image {
		margin-left: 0px;
	}

	.third-content .second-section .right-content {
		margin-left: 0px;
		margin-top: 30px;
	}


	.third-content .second-section .left-image {
		margin-right: 0px;
	}

}

@media (max-width: 749px) {

	.first-content {
		padding: 30px 5px;
	}

	.first-content .main-btn {
		display: inline-block;
		margin-right: 0px;
		margin-bottom: 15px;
	}

}