body {overflow-x: hidden;}
.transition-fade {
   opacity: 1;
   transition: 300ms;
   transform: translateX(0);
   transform-origin: left;
}
html.is-animating .transition-fade {
   opacity: 1;
   transform: translateX(100%);
}
html.is-leaving .transition-fade {
   opacity: 0;
   transform: translateX(0);
}
.transition-swipe {
   transition: 300ms;
   transform: translateY(0);
}
html.is-animating .transition-swipe {
   transform: translateY(100px);
}
.img-container {
   width: 100vw;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
}
.img-container img {
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:auto;
   z-index: 2;
}
html.is-animating .img-container {
   opacity: 1;
}
.opacity-none{opacity: 0 !important;}
.hover-panel:hover{opacity: 0.9 !important;cursor: pointer;}
.blink_me { animation: blinker 5s linear infinite;}
@keyframes blinker { 50% {opacity: 0;}
.hidden{ display: none !important;}

